.menu-button {
	width: 100%;
	margin: 10px;
}

.chat-container {
	border: 1px solid #ccc; 
	border-radius: 4px;
}

.chat-input {
	width: calc(100% - 64px) !important;
	display: inline-block !important;
}

.chat-send-button {
	width: 60px !important;
}